// Custom styles.
.site-author-image {
  border-radius: 50%;
  transition: all .5s;
}

.site-author-image:hover {
  box-shadow: 0 0 20px 5px rgba(0,0,0,.5);
  animation: diyrote .5s ease-in-out;
}

@keyframes diyrote {
  0% {
    transform: rotate(0) scale(1, 1);
  }
  50% {
    transform: rotate(360deg) scale(1.5, 1.5);
  }
  100% {
    transform: rotate(360deg) scale(1, 1);
  }
}

.use-motion .sidebar .motion-element {
  padding-top: 25px;
}
